.block{
    background-color: azure;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 50vh;
    border-radius: 8px;
}